if PROSPECTOR_STATUS_SCREEN_RING

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    select LV_USE_LABEL
    select LV_USE_ARC
    select LV_COLOR_SCREEN_TRANSP
    select LV_FONT_MONTSERRAT_12
    select LV_FONT_MONTSERRAT_14

endif
